charset "utf-8";
/* CSS Document */

/*custom font*/
@font-face
{
font-family: 'Roboto', serif;
}

body
{
/* The page background and font */
font-family:'Roboto', serif;
background-repeat:no-repeat;
/* setting it on 0px will leave us with no padding around the design, rendering the page at the absolute top. */
margin:0px;
padding:0px;
}

/* Our wrapper */
#wrapper
{
width:auto;
/*height:950px;*/
/* The following values will place this div in the middle, and since we put every div inside the wrapper it will render the whole page in the middle of the page.*/
margin-left:auto;
margin-right:auto;
/*border:1px solid;*/
}

/*--------------*/
/*   HEADER     */
/*--------------*/      

#header
{
height:200px;
width:100%;
background:#eee; 
}

.logo
{
display:block;
}

ul 
{
    font-family: 'Roboto', serif;
    font-size: 14px;
    /*margin: 0;*/
    padding: 0;
    width:100%; 
    /*text-align:center;*/
    margin-top:100px;
    list-style: none;
}
ul li 
{
    display: block;
    position: relative;
}

li ul 
{
    display: none;
    float:right;
}

ul li a 
{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    background: #1e7c9a;
    /*margin-left: 1px;*/
    white-space: nowrap;
}

ul li a:hover 
{
background: #003366;
}

li:hover ul 
{
    display: block;
    position: absolute;
}

li:hover li {
    float: none;
    font-size: 11px;
}

li:hover a { background: #003366; }
li:hover li a:hover {
    background: #1e7c9a;
}

/*#navigation 
{
width:100%; 
text-align:center;
float:right;
margin-top:-100px;
}


#navigation li
{
list-style:none;  
}


#navigation ul
{
display:inline-block; 
}

#navigation .has-sub:hover > ul 
{
  display: block;
}  


a:link
{
color:#FFF;	
text-decoration:none;
}

a:visited
{
color:#666666;	
}

a:hover
{
color:#03C;	
}*/

.horizontal
{
display: inline-block; 
border-left: 1px solid; 
padding-left: 1em;	
padding-right: 1em;
}

.next
{
display: inline-block;	
border-right: 1px solid; 
padding-left: 1em;
padding-right: 1em;
}


/*--------------*/
/*   BANNER     */
/*--------------*/

#banner
{
height:350px;
width:100%;
text-align:center;
/*background-image:url(media/homebanner.jpg);*/
background-repeat:no-repeat; 
}

#banner img
{
border: none;
display:inline-block;
width:100%;
/*margin:0 25%;*/
}

/*--------------*/
/*   CONTENT    */
/*--------------*/

#content
{
height:250px;
width:100%;
text-align:center; 
}

.welcome
{
font-size:1.5em;   
}

#manifesto
{
width:100%;
}

#products
{
width:100%; 
}

.underline
{
border-bottom: 1px solid #000;    
}

/*--------------*/
/*   FOOTER     */
/*--------------*/

#footer
{
height:200px;
width:100%;
background-color: #000;
}